@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --cor-fundo: rgb(241, 135, 153);
  --cor-fundo-clara: rgb(243, 175, 187);
  --cor-fundo-dark: rgb(236, 86, 111);
}

* {
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background: var(--cor-fundo);
  font-family: 'Poppins', 'serif';
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 8px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 2px solid var(--cor-fundo);
}

form button {
  border: none;
  background: var(--cor-fundo);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--cor-fundo-dark);
}

.error-text {
  font-size: 12px;
  color: red;
}
